<div class="bg-primary height-header d-flex">
  <div class="align-items-center ps-1 d-flex justify-content-center w-25">
    <thd-input class="w-100" [offMb]="true" [suffix]="suffixIconSearch" [showLabel]="false"></thd-input>
  </div>
  <nz-divider class="font-3" nzType="vertical"></nz-divider>
  <nz-tabset
    [nzCentered]="false"
    class="w-50 position-relative m-0"
    [(nzSelectedIndex)]="selectedIndex"
    nzType="editable-card"
    (nzAdd)="newTab()"
    (nzClose)="closeTab($event)"
  >
          <nz-tab class="position-absolute bottom-0" *ngFor="let tab of tabs" nzClosable [nzTitle]="tab"></nz-tab>
  </nz-tabset>
<!--  <div class="align-items-end ps-1 d-flex justify-content-center w-50">-->
<!--    <nz-tabset-->
<!--      [(nzSelectedIndex)]="selectedIndex"-->
<!--      nzType="editable-card"-->
<!--      (nzAdd)="newTab()"-->
<!--      (nzClose)="closeTab($event)"-->
<!--    >-->
<!--      <nz-tab *ngFor="let tab of tabs" nzClosable [nzTitle]="tab">Content of {{ tab }}</nz-tab>-->
<!--    </nz-tabset>-->
<!--  </div>-->
  <div class="align-items-center d-flex justify-content-end w-25">
    <button nz-button nzType="link" class="text-white"><span nz-icon><i class="fa fa-refresh" aria-hidden="true"></i></span></button>
    <button nz-button nzType="link" class="text-white"><span nz-icon nzType="printer"></span></button>
    <nz-divider class="font-3" nzType="vertical"></nz-divider>
    <button nz-button nzType="link" class="text-white"><span nz-icon nzType="menu"></span></button>
  </div>

</div>
<ng-template #suffixIconSearch>
  <span nz-icon nzType="search"></span>
</ng-template>
