<div class="w-100 h-100 d-flex align-items-center justify-content-center bg-body-secondary">
  <div class="card login-form">
    <div class="card-header text-center">
      <h4>Welcome!</h4>
    </div>
    <div nz-form nz-row
         nzLayout="vertical" (submit)="submitForm()" [formGroup]="formGroup" class="card-body">
      <nz-form-item nz-col nzSpan="24">
        <nz-form-label nzFor="username" nzRequired>Username</nz-form-label>
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-input-group nzPrefixIcon="user">
            <input id="username" type="text" nz-input formControlName=username placeholder="Username" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-col nzSpan="24">
        <nz-form-label nzFor="password" nzRequired>Password</nz-form-label>
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group nzPrefixIcon="lock">
            <input id="password"  type="password" nz-input formControlName="password" placeholder="Password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <div nz-col nzSpan="24">
        <div nz-row class="login-form-margin">
          <div nz-col [nzSpan]="12">
            <label nz-checkbox formControlName="remember">
              <span>Remember me</span>
            </label>
          </div>
          <div nz-col [nzSpan]="12">
            <a routerLink="/forgot-password" class="login-form-forgot">{{'auth.forgotPassword' | translate}}</a>
          </div>
        </div>
      </div>
      <button nz-button type="submit" (click)="submitForm()" class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
      <a class="mr-2" routerLink="/register">Register now!</a>
    </div>
  </div>
</div>

