<div class="w-100 h-100 d-flex align-items-center justify-content-center bg-body-secondary">
  <div class="card login-form">
    <div class="card-header text-center">
      <h4>Welcome!</h4>
    </div>
    <div (submit)="submitForm()" [formGroup]="formGroup" class="card-body">
      <div nz-form nzLayout="vertical" nz-row>
        <thd-input nz-col nzSpan="24" placeHolder="{{'auth.username'|translate}}"
                   prefixIcon="user" formControlName="username" [errorText]="getErrorMessage('username')"
                   label="{{'auth.username'|translate}}"></thd-input>
        <thd-input nz-col type="password" nzSpan="24" prefixIcon="lock" formControlName="password"
                   [errorText]="getErrorMessage('password')"
                   label="{{'auth.password'|translate}}"
                   placeHolder="{{'auth.password'|translate}}"></thd-input>
        <div nz-col nzSpan="24">
          <a routerLink="/forgot-password" class="float-end">{{'auth.forgotPassword' | translate}}</a>
        </div>
      </div>
      <button nz-button type="submit" (click)="submitForm()" class="w-100 mt-3 mb-2" [nzType]="'primary'">Log in</button>
      <a routerLink="/register">Register now!</a>
      <nz-divider nzPlain nzText="Or"></nz-divider>
      <asl-google-signin-button  [width]="200" text="signin_with" type='standard' size='medium'></asl-google-signin-button>

    </div>
  </div>
</div>

