::ng-deep .angular-editor-textarea:focus{
  border-color: #6e8cfa !important;
  box-shadow: 0 0 0 2px rgba(67, 97, 238, 0.2);
  border-right-width: 1px;
  outline: 0;
}
::ng-deep .angular-editor-textarea:focus-visible{
  border-color: #6e8cfa!important;
  box-shadow: 0 0 0 2px rgba(67, 97, 238, 0.2);
  border-right-width: 1px;
  outline: 0;
}
::ng-deep .angular-editor-textarea:hover{
  border-color: #6e8cfa!important;
  border-right-width: 1px;
  outline: 0;
}
::ng-deep .angular-editor-textarea{
  border-radius: 6px;
}
