<div class="p-3 d-flex align-items-center justify-content-center h-screen h-100 w-100 bg-body-secondary">
  <div class="card" *ngIf="!token">
    <div class="card-header">
      <h5>{{"auth.fillUsernameAndEmail"|translate}}</h5>
    </div>
    <div class="card-body">
      <nz-alert class="mb-3" *ngIf="resultForgot"
        [nzType]="resultForgot?.code == 200?'success':'error'"
        [nzDescription]="resultForgot.message"
        nzShowIcon ></nz-alert>
      <div nz-form [formGroup]="formGroup">
        <nz-form-item >
          <nz-form-control [nzErrorTip]="getErrorMessage('username')">
            <nz-input-group nzSize="large" nzPrefixIcon="user">
              <input type="text" nz-input formControlName="username" placeholder="Username" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzErrorTip]="getErrorMessage('email')">
            <nz-input-group  nzSize="large" nzPrefixIcon="mail">
              <input type="email" nz-input formControlName="email" placeholder="Email" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <button nz-button class="w-100" (click)="onSubmit()" [nzType]="'primary'">{{'common.submit' |translate}}</button>
      </div>
    </div>
  </div>
  <div class="card" *ngIf="token">
    <div class="card-body" [formGroup]="formGroup">
      <nz-alert class="mb-3" *ngIf="resultForgot"
                [nzType]="resultForgot?.code == 200?'success':'error'"
                [nzDescription]="resultForgot.message"
                nzShowIcon ></nz-alert>
    </div>
    <div class="card-footer d-flex justify-content-center">
      <button *ngIf="resultActive?.code==200" (click)="login()"
              class="button-primary">Đăng nhập</button>
      <button *ngIf="!(resultActive?.code==200)" (click)="generateNewPassword()"
              class="button-primary">Tạo mới mật khẩu</button>
    </div>
  </div>
</div>
