<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzBreakpoint="md"
            nzWidth="220px"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>THD Store</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" >
      <ng-template ngFor let-item [ngForOf]="navigation">
        <li nz-menu-item nzMatchRouter *ngIf="!item.children">
          <a [routerLink]="item.link">
            <span nz-icon  [nzType]="item.iconType">
              <i *ngIf="item.iconClass" class="{{item.iconClass}}"></i>
              <img *ngIf="item.iconLink" ngSrc="{{item.iconLink}}" alt="logo"/>
            </span>
            <span>{{ item.translateKey? (item.translateKey | translate): item.name }}</span>
          </a>
        </li>
        <li *ngIf="item.children" [nzOpen]="isOpen(item)" nz-submenu [nzTitle]="title">
          <ng-template #title>
            <span nz-icon  [nzType]="item.iconType">
              <i *ngIf="item.iconClass" class="{{item.iconClass}}"></i>
              <img alt="logo" *ngIf="item.iconLink" src="{{item.iconLink}}"/>
            </span>
            <span>{{ item.translateKey? (item.translateKey | translate): item.name }}</span>
          </ng-template>
          <ul>
            <ng-container *ngFor="let child of item.children">
              <li  nz-menu-item nzMatchRouter>
                <a routerLinkActive="ant-menu-item-selected" #subItem="routerLinkActive" routerLink="{{child.link}}">
                  {{ child.translateKey? (child.translateKey | translate): child.name }}</a>
              </li>
            </ng-container>

          </ul>
        </li>
      </ng-template>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header d-flex justify-content-between">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
        </span>
        <div class="header-trigger">
          <nz-select [nzCustomTemplate]="defaultTemplate" (ngModelChange)="changeLanguage($event)"
                     class="me-3" [(ngModel)]="currentLanguage">
            <nz-option nzValue="en" nzLabel="{{'layout.english' |translate}}"></nz-option>
            <nz-option nzValue="vi" nzLabel="{{'layout.vietnamese' |translate}}"></nz-option>
          </nz-select>
          <ng-template #defaultTemplate let-selected>
            <span  nz-icon style="vertical-align:0;font-size: large">
              <i class="fa fa-globe fa-2xl" aria-hidden="true"></i>
            </span>
            {{ selected.nzLabel }}
          </ng-template>
          <nz-avatar nz-dropdown [nzDropdownMenu]="menu" nzPlacement="bottomLeft"
                     nzSize="large" nzIcon="user"></nz-avatar>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item><span nz-icon nzType="user"  nzTheme="outline"></span>&nbsp;&nbsp;{{'layout.profile' |translate}}</li>
              <li nz-menu-item (click)="logout()"><span nz-icon nzType="logout" nzTheme="outline"></span>&nbsp;&nbsp;{{'layout.logout' |translate}}</li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <ng-container *ngIf="isVisible$ | async">
        <thd-breadcrumb [lang]="currentLanguage" [routeLabelFn]="translateFn"  [autoGenerate]="true"></thd-breadcrumb>
      </ng-container>
      <ng-container *ngIf="!(isVisible$ | async)">
        <thd-breadcrumb [lang]="currentLanguage" [routeLabelFn]="translateFn"  [autoGenerate]="true"></thd-breadcrumb>
      </ng-container>
      <div class="card card-body inner-content mt-2">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
