<div class="row">
  <nz-page-header class="col-12"
                  nzTitle="Inventory import">
  </nz-page-header>
  <div class="col-md-12">
    <div class="row">
      <thd-input [offMb]="true" class="col-md-11 mt-2" [showLabel]="false" [isSearch]="true" [(ngModel)]="searchObject.keyword" placeHolder="{{'common.inputSearch'|translate}}"
                 (keydown.enter)="submitSearch()" [addOnAfter]="suffixIconButton"></thd-input>
      <ng-template #suffixIconButton>
        <button (click)="submitSearch()" nz-button nzType="primary" nzSearch><span nz-icon nzType="search"></span>
        </button>
      </ng-template>
      <div class="col-md-1 mt-2 d-flex justify-content-center">
        <button (click)="onCreateOrUpdate(null)" nz-button nzType="primary">
          <span nz-icon nzType="plus"></span>{{'common.add'|translate}}
        </button>
      </div>
    </div>
  </div>
  <div class="table-responsive-md">
    <nz-table  [(nzPageIndex)]="searchObject.pageIndex" [(nzPageSize)]="searchObject.pageSize"
               nzFrontPagination="false"
               [nzTotal]="totalElement" (nzQueryParams)="pageChange($event)"
               nzBordered="true" class="col-12 mt-2" nzSize="small" #table
               nzShowPagination nzShowSizeChanger [nzData]="entities">
      <thead>
      <tr>
        <th style="width: 100px" nzLeft>{{'common.action' |translate}}</th>
        <th>{{'common.code' |translate}}</th>
        <th>Status</th>
        <th>Supplier</th>
        <th>Warehouse</th>
        <th>Note</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of table.data">
        <td class="text-center" style="width: 100px" nzLeft>
          <nz-button-group>
            <button (click)="onCreateOrUpdate(data)"
                    nz-tooltip="{{'common.edit'|translate}}" nz-button nzType="link">
              <span nz-icon nzType="edit"></span>
            </button>
            <button nzOkDanger nzIcon="delete"
                    nz-tooltip="{{'common.delete'|translate}}" (nzOnConfirm)="delete(data.id)" nz-popconfirm
                    nzPopconfirmTitle="{{'common.confirmDelete' |translate}}" nz-button nzType="link" nzDanger>
              <span nz-icon ><i class="fa fa-times-circle" aria-hidden="true"></i></span>
            </button>
          </nz-button-group>
        </td>
        <td>{{ data.code }}</td>
        <td><nz-tag [nzColor]="InventoryImportStatusColor[data.status]"><span class="fw-bold">{{InventoryImportStatus[data.status]}}</span></nz-tag></td>
        <td>{{ data.supplier?.name }}</td>
        <td>{{ data.warehouse?.name }}</td>
        <td>{{ data.note }}</td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<nz-modal [(nzVisible)]="isVisible" nzWidth="70%" [nzOkDisabled]="formGroup?.invalid" (nzOnOk)="onSubmit()"
          (nzOnCancel)="isVisible=false" nzTitle="{{(entity?.id?'common.update':'common.create')|translate}}">
  <ng-container *nzModalContent>
    <div class="row" nz-form nzLayout="vertical" [formGroup]="formGroup">
      <thd-input class="col-md-4" label="Import date" [hasFeedback]="true"
                 formControlName="importDate" type="date" [disabledDate]="disabledDate"
                 [errorText]="getErrorMessage('importDate')">
      </thd-input>
      <thd-input (valueChange)="supplierChange($event)" class="col-md-4" label="Supplier" [hasFeedback]="true"
                 formControlName="supplier" type="select" bindLabel="name" [items]="suppliers"
                 [errorText]="getErrorMessage('supplier')">
      </thd-input>
      <thd-input class="col-md-4" label="Warehouse" [hasFeedback]="true"
                 formControlName="warehouse" type="select" bindLabel="name" [items]="warehouses"
                 [errorText]="getErrorMessage('warehouse')">
      </thd-input>
      <thd-input class="col-md-12" label="Note" [hasFeedback]="true"
                 formControlName="note"
                 [errorText]="getErrorMessage('note')">
      </thd-input>
      <div class="col-md-12">
        <nz-form-label>Items  &nbsp;<span class="text-danger">{{getErrorMessage("items")}}</span></nz-form-label>
        <nz-table [nzFooter]="footer" nzSize="small" nzBordered="true" nzOuterBordered="true" nzShowPagination="false"
                  nzFrontPagination="false" [nzData]="dataTable">
          <thead>
          <tr>
            <th><span class="text-danger">*</span>Product</th>
            <th><span class="text-danger">*</span>Quantity</th>
            <th><span class="text-danger">*</span>Price</th>
            <th>Total</th>
            <th class="text-center">
              <button nzSize="small" (click)="addItem()" type="button" nz-button nzType="primary">
                <span nz-icon nzType="plus"></span> {{'common.add'|translate}}</button>
            </th>
          </tr>
          </thead>
          <tbody formArrayName="items">
          <tr *ngFor="let item of items.controls;index as i">
            <ng-container [formGroupName]="i">
              <td>
                <thd-input [showLabel]="false" formControlName="product" type="select" [items]="products"
                           [errorText]="getErrorMessage('items.'+i+'.product')"
                           [hasFeedback]="true" bindLabel="name">
                </thd-input>
              </td>
              <td>
                <thd-input [showLabel]="false" type="number" [min]="1" [step]="1" formControlName="quantity"
                           [errorText]="getErrorMessage('items.'+i+'.quantity')"
                           [hasFeedback]="true">
                </thd-input>
              </td>
              <td>
                <thd-input [showLabel]="false" type="number" formControlName="price"
                           [errorText]="getErrorMessage('items.'+i+'.price')"
                           [hasFeedback]="true" addOnAfter="vnđ">
                </thd-input>
              </td>
              <td style="vertical-align: top" class="fw-bold text-end">
                {{(item.get('quantity')?.value || 0) * (item.get('price')?.value || 0) | currency : "VND":"vnđ":"":"vi"}}
              </td>
              <td style="vertical-align: top">
                <button nzOkDanger nzIcon="delete" (nzOnConfirm)="items.removeAt(i)" nz-popconfirm
                        nzPopconfirmTitle="{{'common.confirmDelete' |translate}}" nz-button nzType="primary" nzDanger>
                  <span nz-icon nzType="delete"></span>{{ 'common.delete'|translate }}
                </button>
              </td>

            </ng-container>
          </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </ng-container>
</nz-modal>
<ng-template #footer>
  <span class="fw-bold">Total: {{getTotalPrice() | currency : "VND":"vnđ":"":"vi"}} </span>
</ng-template>
